/*Consolidated common styles into variables*/

:root {
    --colorlight: rgb(7, 188, 248);
    --mainstyle: white;
    --aligncenter: center;
    --flex1: flex;
    --pix20: 20px;
    --pix10: 10px;
    --spcbtwn: space-between;
    --auto: auto;
    --flxdir-c: column;
    --wrap: wrap;
}

/* Code in * tag from the Horiseon first homework*/

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: var(--colorlight);
}

/*Made header/nav stick to the top of the page in desktop mode and align text into a row.*/

/*Thanks to for showing me how to stick the nav bar to the top of the page.*/
header {
    height: 70px;
    width: 100%;
    margin: 0;
    background-color: var(--mainstyle);
    color: var(--colorlight);
    display: var(--flex1);
    align-items: var(--aligncenter);
    text-align: var(--aligncenter);
    flex-basis: var(--auto);
    justify-content: space-around;
    flex-direction: row;
    position: sticky;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1;
}

header h1 {
    font-size: 35px;
}

nav li {
 display: inline;
 padding: var(--pix20);
 color:var(--colorlight);
}

/* Background image code from the Horiseon first homework*/
/*Image from https://www.pexels.com/photo/blue-universe-956981/*/
.starry {
    height: 200px;
    width: 100%;
    background-image: url("../images/pexels-felix.jpg");
    background-size: cover;
    background-position: var(--aligncenter);
}

main h2 {
    padding: var(--pix20);
    position: relative;
    text-align: var(--aligncenter);
}

hr {
    color: var(--mainstyle);
}

section {
    margin-bottom: 50px;
    margin-top: 50px;
}

.flex1 {
    padding: 30px;
    background-color: black;
    display:var(--flex1);
    justify-content: var(--spcbtwn);
    align-items: var(--aligncenter);
    flex-direction: row;
    text-align: left;
}

.flex1 p {
    padding: 30px;
    font-size: var(--pix20);
}

.flex1 .snake {
    height: 350px;
    box-shadow: 0 0 0 2px var(--mainstyle);
}

/* Thanks to https://www.joshwcomeau.com/animation/css-transitions/ For showing me this transformation */
img:hover {
    transform: scale(1.1);
}

.card img {
    width: 700px;
    flex-wrap: var(--wrap);
    flex: 1 0 50px;
    padding: var(--pix10);
    text-align: var(--aligncenter);
}


.cards {
    z-index: 1;
    display: var(--flex1);
    flex-wrap: var(--wrap);
    justify-content: var(--spcbtwn);
    flex: 2 1 50px;
    flex-direction: row;
}
 .card {
    padding: var(--pix10);
    flex-wrap: var(--wrap);
    flex: 1 0 50px;
    text-align: var(--aligncenter);
}

.maincards {
    display: var(--flex1);
    flex-wrap: var(--wrap);
    justify-content: var(--spcbtwn);
    flex: 2 1 50px;
    flex-direction: var(--flxdir-c);
    z-index: 1;
    align-items: var(--aligncenter);
}

.maincard img {
    width: 100%;
}

.maincard {
    display: var(--flex1);
    flex-wrap: var(--wrap);
    flex: 2 1 50px;
    padding: var(--pix10);
    text-align: var(--aligncenter);
}


section ul {
    text-align: var(--aligncenter);
}

section li {
    display: inline;
    list-style: none;
    justify-content: var(--spcbtwn);
    padding: var(--pix20);
    margin: 0;
    align-items: var(--aligncenter);
    z-index: 1;
}

footer {
    display: var(--flex1);
    flex-direction: var(--flxdir-c);
    justify-content: var(--aligncenter);
    align-items: var(--aligncenter);
    margin-top: var(--pix20);
    background-color: var(--mainstyle);
    color: var(--colorlight);
    text-align: var(--aligncenter);
    height: 100px
}

/*Thanks to the jquery and responsiveness in class assignment. Code the media screen tags was done by me experimentally.*/

@media screen and (max-height: 1300px) {
    .flex1 {
        justify-content: var(--aligncenter);
        align-items: var(--aligncenter);
        align-content: var(--aligncenter);
        display: var(--flex1);
    }
}

@media screen and (max-width: 992px) {
    * {
        flex-wrap: var(--wrap);
    }

    header h1 {
        height: var(--auto);
    }

    header {
        color: black;
        background-color: aqua;
        height: var(--auto);
        position: static;
    }

    nav li {
        flex-direction: var(--flxdir-c);
        display: var(--flex1);
    }
    .cards {
        margin: var(--pix10);
        margin-left: -10px;
    }
    .card img {
        width: 110%;
        height: var(--auto);
    }
    .contact li {
        flex-direction: var(--flxdir-c);
        display: var(--flex1);
        justify-content: var(--aligncenter)
    }
}
@media screen and (max-width: 768px) {
    header {
        color: black;
        background-color: orange;
    }
  }

@media screen and (max-width: 576px) {
    header {
        background-color: red;
        color: black
    }
}